/* styles de la page */

body {
  font-size: 20px;
  font-family: 'Ubuntu Mono', monospace;
  margin: 0;
}

/* styles barre de navigation */

nav {
  background-color: rgb(80, 208, 165);
  padding: 1em;
  position: sticky;
  top: 0px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: 3em;
}

nav ul li a {
  text-decoration: none;
  color: ivory;
  font-weight: bold;
  font-size: 1.5em;
}

nav ul li a:hover {
  color: brown;
}

nav>ul>li:first-child::before {
  content: "\2302 \0020";
  font-size: 2em;
  color: ivory;
}

nav>ul>li:not(:first-child) {
  padding-top: 0.5em;
}

/* nav ul li a:visited {
  color: gray;
} */

/* styles entête */

header {
  margin-left: 2em;
  margin-bottom: 2em;
  margin-right: 10em;
}

header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2em;
  color: rgb(80, 208, 165);
}

/* styles zone de contenus */

main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1em;
}

article {
  display: flex;
  justify-content: flex-start;
  margin: 0.5em;
}

.encart {
  width: 160px;
  margin: 0.1em;
  background-color: gray;
  color: ivory;
  font-size: 0.9em;
}

.encart>h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.2em;
}

.encart>p {
  margin: 0.3em;
}

.photo {
  margin-bottom: -2.9px;
  padding-top: 1.5px;
}


/* styles pied de page */

footer {
  background-color: rgb(80, 208, 165);
  text-align: center;
  color: ivory;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  column-gap: 3em;
}

footer h2 {
  margin: 0.5em;
}

footer p {
  margin: 0.5em;
}